{% set video = __SELF__ %}

<iframe width="560" height="315"
	src="https://www.youtube{% if video.privacyMode %}-nocookie{% endif %}.com/embed/{{video.videoId}}?controls={{video.playerControls ? 1 : 0}}"
	frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
</iframe>
<h3>{{ video.data.title }}</h3>
<p>by: {{ video.data.channelTitle }}</p>
<p>at: {{ video.data.publishedAt }}</p>
<blockquote class="blockquote">
	{{ video.data.description }}
</blockquote>
<h5>Tags:</h5>
<ul class="list-group">
	{% for tag in video.data.tags %}
	<li class="list-group-item">{{ tag }}</li>
	{% else %}
	<li>No tags.</li>
	{% endfor %}
</ul>
<h5>Thumbnails:</h5>
<ul class="list-group">
	{% for thumbnail in video.data.thumbnails %}
	<li class="list-group-item">
		<img src="{{ thumbnail.url }}" height="{{ thumbnail.height }}" width="{{ thumbnail.width }}" />
	</li>
	{% else %}
	<li>No thumbnails.</li>
	{% endfor %}
</ul>